:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}
.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
}

.btn--card{
    background-color: #242424;
    color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: 4px;
    transition: ease-out 0.3s;
    border: 3px solid #BEAF6F;
    position: relative;
    z-index:1;
}
.btn--small:hover {
    color: #fff;
    cursor: pointer;
}

.btn--small:before{
    transition: 0.5s all ease;
    position: absolute;
    top:0;
    left:50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #BEAF6F;
}
.btn--small:hover:before {
    transition: 0.5s all ease;
    left:0;
    right:0;
    opacity: 1;
    z-index: -1;
}
.btn--medium {
    padding: 8px 20px;
    font-size: 18px;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}
.btn--small{
    padding: 8px 20px;
    font-size: 18px;
}


.btn--large:hover,
.btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
}
.sign-up-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}