
.main-container-create-customer {
    background: #E9E7D1;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-container-create-customer {
    width: 50%;
    height: 70%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.25);
}
.information-container-create-customer-inspection {
    width: 50%;
    height: 90%;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.25);
}
h2{
    text-align: center;
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h2-inspection{
    text-align: center;
    height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.customer-card-body {
    width:100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customer-card-body-inspection {
    width:100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-create-customer{
    width:70%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.form-element{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.form-element-button{
    display:flex;
    flex-direction: row;
}
.form-control{
    padding: 10px;
}

label{
    color: black;
}

#inspection-status{
    color: #242424;
    font-size: large;
}
#found-inspection{
    color: #242424;
}
