.main-container {
    background: #E9E7D1;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.information-container {
    width: 90%;
    height: 80%;
    padding: 10px;
}
h2{
    text-align: center;
}
table{
    width: 100%;
    height: 80%;
    text-align: left;
    border-collapse: collapse;

}
th, td {
    padding: 10px;
}
td {
    border: 1px solid lightgrey;

}

.list-table {
    border-radius: 10px;
    box-shadow: 5px 5px 25px 0 rgba(0,0,0,0.25);
}
tbody > tr:nth-child(even){
    background-color: #e9e2af ;
}
tbody > tr:nth-child(odd){
    background-color: lightgoldenrodyellow;
}
.status-container {
    display: flex;
    justify-content: space-between;
    background-color: #BEAF6F;
    align-items: center;

}
#status-font {
    color: #242424;
    font-size: large;
}
